@import 'src/Styles/_variables.scss';
.carouselContainer {
  position: relative;
  overflow: hidden;
  border-bottom-right-radius: 50px;

  .carouselWrap {
    display: flex;
    width: 100vw;
    border-bottom-right-radius: 20px;
    transition: 0.5s;

    .carouselItem {
      position: relative;
      min-width: 100vw;
      height: 60vh;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .bgImg {
        width: 100%;
      }

      .caption {
        position: absolute;
        top: 190px;
        left: 270px;
        font-size: 25px;
      }

      .title {
        position: absolute;
        top: 220px;
        left: 270px;
        width: 38%;
        font-size: 50px;
        font-weight: bold;
        line-height: 55px;
        margin: 12px 0px;
      }

      .description {
        position: absolute;
        top: 360px;
        left: 270px;
        font-size: 25px;
      }
    }
  }

  .btn {
    position: absolute;
    top: 50%;
    transform: translateY(50%);
    padding: 10px 13px;
    border-radius: 50%;
    background-color: $white;
    opacity: 0.7;
    cursor: pointer;
  }

  .prevBtn {
    left: 100px;
  }

  .nextBtn {
    right: 100px;
  }
}
