.LikePick {
  .likePickContainer {
    width: 100%;

    .headerContainer {
      display: flex;
      height: 200px;
      width: inherit;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      font-size: 38px;
      background-color: lawngreen;
    }

    .characterContainer {
      display: flex;
      background-color: lightBlue;
      height: 100px;
    }

    .itemContainer {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      column-count: 4;
      width: 1300px;
      margin: 0 auto;
    }
  }
}
