// 색
$black: black;
$lightGrey: lightgrey;
$yellow: #ffdf00;
$white: white;
$product-background-color: rgba(0, 0, 0, 0.02);
$category-background-color: #f5f5f5;
// 메인페이지
$main-font-size: 18px;
$nav-font-size: 17px;
$category-font-size: 17px; // 슬라이더 밑 부분 폰트
$slider-font-size: 18px;
$slider-title: 46px;
$product-border-radius: 10px;
//ex) MD's Pick 의 글씨
$section-title-font-size: 38px;
$section-price-font-size: 20px;
// 카테고리 페이지
$category-banner-title-font-size: 55px;
$category-banner-subtitle-font-size: 20px;
$category-price-font-size: 20px;
//상세페이지
$product-title-font-size: 28px;

//내가 추가
$product-category-font-size: 14px;
$quantity-button-border-radius: 5px;
