@import '../../../../Styles/variables';

.productDetailImages {
  .descriptionList {
    width: 750px;

    li {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: inherit;
      margin-bottom: 30px;

      .desImg {
        width: 550px;
        border-radius: 20px;
      }

      h2 {
        padding-top: 30px;
        transform: translateX(-250px);
        font-weight: 800;
      }

      .productDescription {
        padding: 30px 0;
        transform: translateX(-50px);
        line-height: $product-description-line-height;
      }
    }
  }
}
