@import '../../../../Styles/variables.scss';

a {
  text-decoration: none;
  color: $black;
  cursor: pointer;
}

.Nav {
  .mainContainer {
    display: flex;
    justify-content: center;
    height: 75px;
    width: 100%;
    border-bottom: 1px solid $lightGrey;
    position: fixed;
    background-color: #fff;
    z-index: 1;
  }

  .subContainer {
    display: flex;
    align-items: center;
  }

  // left
  .categoryAndBestContainer {
    display: flex;
  }

  .categoryAndBest {
    display: flex;
    align-items: center;

    li {
      margin: 0px 15px;
    }
  }

  .navBarHover:hover {
    padding: 28px 0px;
    border-bottom: 4px solid $black;
    .navDropdown {
      display: block;
    }
  }

  .dropdownContainer {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    left: 0px;
    padding-top: 50px;
    margin-top: 30px;
    width: 100%;
    height: 500px;
    background-color: $white;
  }

  .navDropdown {
    display: none;
  }

  .allItems {
    .allItemsTitle {
      font-weight: bold;
    }
  }

  .categoryItems {
    .categoryItemTitle {
      font-weight: bold;
      padding-bottom: 15px;
    }

    li {
      padding: 15px 0px;
      margin-left: 0px;
    }
  }

  .dropdownCharacters {
    display: flex;

    .dropdownCharactersTitle {
      position: absolute;
      top: 300px;
      font-weight: bold;
      width: 100px;
    }

    ul {
      display: table;
    }

    li {
      display: inline;
      top: 500px;
    }
  }

  // header
  .navBarHeader {
    padding: 0px 250px 0px 350px;

    a {
      font-weight: bold;
    }
  }

  // right
  .searchUserBasketContainer {
    display: flex;
  }

  .searchUserBasket {
    display: flex;
    align-items: center;

    li {
      margin: 0px 15px;
    }
  }

  .navBarSearch {
    position: relative;
  }

  .formGroup {
    padding-top: 5px;
    input {
      margin: 0px 10px;
      outline: 0px;
      border: none;
      border-bottom: $lightGrey solid 1px;
    }
  }

  .searchButtonIcon {
    i {
      padding-left: 10px;
    }
  }

  .searchAndRecentContainer {
    position: absolute;
    right: 0px;
    margin-top: 37px;
    display: flex;
    border-radius: 15px;
    background-color: $white;
  }

  .searchContainer:hover {
    position: relative;
    padding: 40px 0px;

    &:hover {
      .searchTrend {
        display: block;
      }

      .recentSearch {
        display: block;
      }
    }
  }

  .searchTrend {
    display: none;
    padding-left: 30px;
    z-index: 1;
    .topSearch {
      .topSearchTitle {
        font-weight: bold;
        width: 200px;
        padding: 30px 10px 20px 10px;
      }
      .topSearchList {
        list-style-type: decimal;
        padding: 0px 10px 20px 10px;

        li {
          padding: 15px 0px;
        }
      }
    }
  }

  .recentSearch {
    display: none;
    z-index: 1;
    .searchResults {
      .searchResultsTitle {
        font-weight: bold;
        width: 200px;
        padding: 30px 10px 20px 10px;
      }
      .searchList {
        padding: 15px 10px 20px 10px;
      }
    }
  }

  // user info

  .navBarUserInfo:hover {
    position: relative;
    padding: 28px 0px;
    .navBarUserSubPage {
      display: block;
    }
  }

  .navBarUserInfo {
    i {
      margin: 10px;
    }
  }

  .navBarUserSubPage {
    ul {
      position: absolute;
      right: 0px;
      padding: 20px 50px 30px 20px;
      margin-top: 30px;
      background-color: $white;
      border-radius: 15px;
    }
    li {
      padding: 15px 0px;
      width: 100px;
      display: block;
    }

    & {
      display: none;
      z-index: 1;
    }
  }
}
