@import '../../Styles/variables.scss';

.product {
  nav {
    border: 3px solid blue;
    width: inherit;
  }

  .productDetailInnerbox {
    display: flex;
    justify-content: center;
    //ProductDetail 컴포넌트 자리

    .detailImagesOutbox {
      width: 750px;
      margin-right: 50px;
      // border: 3px solid $lightGrey;

      .detailImagesInnerbox {
        width: inherit;

        .productThumnail {
          width: inherit;

          .productThumnailImg {
            width: 600px;
            display: block;
            margin: 0 auto;
            border-radius: $product-border-radius;
          }
        }
        // productDtail 컴포넌트 scss
      }
    }
    // productOption 컴포넌트 scss
  }

  //.리뷰& Qna
  .bottomOutbox {
    display: flex;
    justify-content: center;
    .nothing {
      width: 350px;
    }

    .bottomReviewQna {
      width: 800px;
      padding-left: 100px;
    }
  }
}
