@import 'src/Styles/_variables.scss';

.payment {
  .bgImg {
    width: 100%;
    padding: 70px 0;
    background-color: #eee;
    margin-bottom: 80px;

    .bgText {
      max-width: 1000px;
      margin: 0 auto;

      h1 {
        font-size: $category-banner-title-font-size;
        font-weight: bold;
        margin-bottom: 20px;
      }
    }
  }

  .productInfo {
    max-width: 1000px;
    margin: 0 auto 50px;

    .orderProductCount {
      padding: 30px;
      border-top: 1px solid #333;
      border-bottom: 1px solid #eee;
    }

    .orderProductItem {
      display: flex;
      align-items: center;
      padding: 30px;
      border-bottom: 1px solid #eee;

      img {
        width: 100%;
        height: 130px;
        object-fit: cover;
        border-radius: 12px;
      }

      div:nth-child(1) {
        width: 15%;
        margin-right: 15px;
      }
      div:nth-child(2) {
        width: 65%;

        p:nth-child(1) {
          margin-bottom: 10px;
        }
      }
      div:nth-child(3) {
        width: 10%;
      }
      div:nth-child(4) {
        width: 10%;
      }
    }
  }
  .orderInfo {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto 200px;

    .orderInfoLeft {
      width: 60%;

      .orderer {
        padding: 20px 0;
        font-size: 18px;
        font-weight: bold;
        border-bottom: 1px solid #333;
      }

      .ordererInfo {
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid #eee;

        .ordererInfoLeft {
          width: 30%;
          padding: 30px;
          background-color: #f9f9f9;
        }

        .ordererInfoRight {
          width: 70%;
          padding: 10px;

          input {
            width: 100%;
            padding: 15px;
            border: 1px solid #eee;

            &:focus {
              outline: none;
            }
          }
        }
      }
    }

    .orderInfoRight {
      width: 35%;
      height: 100%;
      margin-top: 55px;
      padding: 30px;
      background-color: #f4f4f6;
      border-radius: 10px;

      .firstRow {
        padding: 0 25px 25px;
        border-bottom: 2px dashed #ddd;

        h2 {
          font-size: 22px;
        }
      }

      .secondRow {
        padding: 25px;
        border-bottom: 2px dashed #ddd;
      }

      .row {
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;

        &:last-child {
          margin-bottom: 0;
        }
      }

      .boldText {
        font-size: 16px;
      }

      .lightText {
        font-size: 14px;
        color: #c3c3c3;
      }

      .thirdRow {
        padding: 25px 25px 0px;
      }
    }
  }
}
