@import 'src/Styles/_variables.scss';
.carouselContainer {
  position: relative;
  overflow: hidden;
  border-bottom-right-radius: 50px;

  .carouselWrap {
    display: flex;
    border-bottom-right-radius: 20px;
    transition: 0.5s;

    .carouselItem {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100vw;

      .bgImg {
        width: 100%;
      }

      .caption {
        position: absolute;
        top: 80px;
        left: 80px;
        font-size: $main-font-size;
      }

      .title {
        position: absolute;
        top: 120px;
        left: 80px;
        width: 36%;
        font-size: $slider-title;
        font-weight: bold;
        margin: 12px 0px;
      }

      .description {
        position: absolute;
        top: 260px;
        left: 80px;
        font-size: $main-font-size;
      }
    }
  }

  .prevBtn {
    position: absolute;
    top: 50%;
    left: 10px;
    padding: 10px 13px;
    border-radius: 50%;
    background-color: $white;
    opacity: 0.7;
    cursor: pointer;
  }

  .nextBtn {
    position: absolute;
    top: 50%;
    right: 10px;
    padding: 10px 13px;
    border-radius: 50%;
    background-color: $white;
    opacity: 0.7;
    cursor: pointer;
  }
}
