.friendsContainer {
  position: relative;
  padding-right: 50px;

  img {
    width: 60px;
    height: 60px;
    justify-content: center;
    margin-bottom: 20px;
    cursor: pointer;
  }

  .characterNames {
    display: flex;
    justify-content: center;
    cursor: pointer;
  }
}
